Package: fancontrol
Version: 0.1-2
Architecture: all
Maintainer: Aleksandrs Zolotarjovs <alexz005.info@gmail.com>
Installed-Size: 21
Depends: bash, lm-sensors
Section: utils
Priority: optional
Description: Simple linear fan control script for hwmon
 This package installs a script + systemd service to control fan speed
 based on CPU temperature, using hwmon sysfs interface.
